body{
    font-family: "Public Sans", Verdana, sans-serif;
    font-size: 18px;
    color: #262121;
}
span {
    color: #262121;
}
.flex-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}
.inner-image {
    max-height: 100px;
}
.inner-image.portrait {
    height: 200px;
    width: 100px;
}
.inner-image.landscape {
    height: 100px;
    width: 200px;
}
.half-width {
    width: 50%;
}
.max-h-170 {
    max-height: 170px;
}
.card-wrapper {
    width: 100%;
    text-align: center;
}
.text-black {
    color: black;
}
.text-wrapper {
    height: 4em;
}
.img-details {
    border-radius: 10px;
}
@media screen and (max-width: 425px) {
    a.navbar-brand {
        width: 65%;
    }
    .custom-width {
        width: 50%;
    }
    .half-width {
        width: auto;
    }
}

